 
// ==COLORS ==
$text-color: #222222;
$theme-color: #170a48;
$secondary-color: #fd7e3f;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: white;

// ==SIZES==
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;

// ==FONTS==
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web" ,'Palatino Linotype', Georgia, serif;
